<a href="https://colab.research.google.com/github/eemgraham/World-Happiness-Index/blob/main/World_Happiness_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_excel("WHI_Inflation.xlsx")

In [30]:
# Show the 10 highest happiness scores
top_10 = df.nlargest(10, 'Score')
print(top_10[['Country', 'Score', 'Year']])

     Country   Score  Year
360  Finland  7.8420  2021
361  Finland  7.8210  2022
359  Finland  7.8087  2020
362  Finland  7.8040  2023
358  Finland  7.7690  2019
304  Denmark  7.6456  2020
306  Denmark  7.6360  2022
357  Finland  7.6320  2018
305  Denmark  7.6200  2021
303  Denmark  7.6000  2019

In [5]:
# Show the 10 highest scores by individual country
df_sorted = df.sort_values(by='Score', ascending=False)
df_unique = df_sorted.drop_duplicates(subset='Country', keep='first')
top_10_unique = df_unique.nlargest(10, 'Score')
print(top_10_unique[['Country', 'Score', 'Year']])

          Country   Score  Year
360       Finland  7.8420  2021
304       Denmark  7.6456  2020
846        Norway  7.5940  2018
1057  Switzerland  7.5870  2015
460       Iceland  7.5610  2015
793   Netherlands  7.4880  2019
513        Israel  7.4730  2023
206        Canada  7.4270  2015
643    Luxembourg  7.4040  2022
1056       Sweden  7.3950  2023

In [26]:
# Show the 10 lowest scores by inidividual country
bottom_10_unique = df_unique.nsmallest(10, 'Score')
print(bottom_10_unique[['Country', 'Score', 'Year']])

                       Country   Score  Year
932                     Rwanda  3.5150  2016
215   Central African Republic  3.6780  2015
186                    Burundi  3.7753  2020
1084                  Tanzania  3.7810  2015
2                  Afghanistan  3.7940  2017
1015               South Sudan  3.8320  2016
27                      Angola  4.0330  2015
1107                      Togo  4.1872  2020
654                     Malawi  4.2920  2015
145                   Botswana  4.3320  2015

In [6]:
# Show the average happiness score by country
# Group by 'Country' and calculate the mean of 'Score'
average_scores = df.groupby('Country')['Score'].mean().reset_index()

# Rename column for clarity
average_scores.rename(columns={'Score': 'Average_Score'}, inplace=True)

# Sort by average score descending (optional)
average_scores = average_scores.sort_values(by='Average_Score', ascending=False)

print(average_scores)

                      Country  Average_Score
43                    Finland       7.662744
36                    Denmark       7.579733
55                    Iceland       7.522278
128               Switzerland       7.493322
99                     Norway       7.473889
..                        ...            ...
111                    Rwanda       3.398537
22                    Burundi       3.277900
121               South Sudan       3.269320
26   Central African Republic       3.202580
0                 Afghanistan       2.990767

[148 rows x 2 columns]

In [ ]:
# Handling Missing Data
df.dropna(inplace=True)
df.dropna(axis=1, inplace=True)

In [ ]:
# Fill missing values with the string "Unknown"
df_filled = df.fillna("Unknown")
print(df_filled)

In [17]:
features = ['GDP per Capita', 'Energy Consumer Price Inflation', 'Headline Consumer Price Inflation', 'Food Consumer Price Inflation', 'Official Core Consumer Price Inflation',  'Producer Price Inflation', 'GDP deflator Index growth rate', 'Social support',  'Healthy life expectancy at birth', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

# Create a new DataFrame with just 'Score' and selected features
selected_df = df[['Score'] + features]

# Compute Kendall correlation matrix
kendall_corr = selected_df.corr(method='kendall')

# Show only correlation of each feature with 'Score'
score_corr = kendall_corr['Score'].drop('Score')  # Remove self-correlation

print(score_corr)

GDP per Capita                            0.457281
Energy Consumer Price Inflation           0.001570
Headline Consumer Price Inflation        -0.122084
Food Consumer Price Inflation            -0.108560
Official Core Consumer Price Inflation   -0.102624
Producer Price Inflation                 -0.054706
GDP deflator Index growth rate           -0.108862
Social support                            0.332178
Healthy life expectancy at birth          0.320444
Freedom to make life choices              0.437479
Generosity                                0.297574
Perceptions of corruption                 0.477289
Name: Score, dtype: float64

In [18]:
average_col1 = df['Perceptions of corruption'].mean()
print(average_col1)

0.1604232795625

In [19]:
print(top_10_unique[['Country', 'Score', 'Year', 'Perceptions of corruption']])

          Country   Score  Year  Perceptions of corruption
360       Finland  7.8420  2021                    0.48100
304       Denmark  7.6456  2020                    0.49526
846        Norway  7.5940  2018                    0.34000
1057  Switzerland  7.5870  2015                    0.41978
460       Iceland  7.5610  2015                    0.14145
793   Netherlands  7.4880  2019                    0.29800
513        Israel  7.4730  2023                    0.15800
206        Canada  7.4270  2015                    0.32957
643    Luxembourg  7.4040  2022                    0.38800
1056       Sweden  7.3950  2023                    0.52000

In [27]:
print(bottom_10_unique[['Country', 'Score', 'Year', 'Perceptions of corruption']])

                       Country   Score  Year  Perceptions of corruption
932                     Rwanda  3.5150  2016                   0.505210
215   Central African Republic  3.6780  2015                   0.082890
186                    Burundi  3.7753  2020                   0.212187
1084                  Tanzania  3.7810  2015                   0.057470
2                  Afghanistan  3.7940  2017                   0.061158
1015               South Sudan  3.8320  2016                   0.130150
27                      Angola  4.0330  2015                   0.071220
1107                      Togo  4.1872  2020                   0.114826
654                     Malawi  4.2920  2015                   0.069770
145                   Botswana  4.3320  2015                   0.124740

In [21]:
average_col2 = df['GDP per Capita'].mean()
print(average_col2)

1.2681768250815972

In [23]:
print(top_10_unique[['Country', 'Score', 'Year', 'GDP per Capita']])

          Country   Score  Year  GDP per Capita
360       Finland  7.8420  2021        1.446000
304       Denmark  7.6456  2020        1.326949
846        Norway  7.5940  2018        1.456000
1057  Switzerland  7.5870  2015        1.396510
460       Iceland  7.5610  2015        1.302320
793   Netherlands  7.4880  2019        1.396000
513        Israel  7.4730  2023        1.833000
206        Canada  7.4270  2015        1.326290
643    Luxembourg  7.4040  2022        2.209000
1056       Sweden  7.3950  2023        1.921000

In [28]:
print(bottom_10_unique[['Country', 'Score', 'Year', 'GDP per Capita']])

                       Country   Score  Year  GDP per Capita
932                     Rwanda  3.5150  2016        0.328460
215   Central African Republic  3.6780  2015        0.078500
186                    Burundi  3.7753  2020        0.000000
1084                  Tanzania  3.7810  2015        0.285200
2                  Afghanistan  3.7940  2017        0.401477
1015               South Sudan  3.8320  2016        0.393940
27                      Angola  4.0330  2015        0.757780
1107                      Togo  4.1872  2020        0.268116
654                     Malawi  4.2920  2015        0.016040
145                   Botswana  4.3320  2015        0.993550

In [24]:
average_col3 = df['Freedom to make life choices'].mean()
print(average_col3)

0.49858169161979166

In [25]:
print(top_10_unique[['Country', 'Score', 'Year', 'Freedom to make life choices']])

          Country   Score  Year  Freedom to make life choices
360       Finland  7.8420  2021                       0.69100
304       Denmark  7.6456  2020                       0.66504
846        Norway  7.5940  2018                       0.68600
1057  Switzerland  7.5870  2015                       0.66557
460       Iceland  7.5610  2015                       0.62877
793   Netherlands  7.4880  2019                       0.55700
513        Israel  7.4730  2023                       0.56900
206        Canada  7.4270  2015                       0.63297
643    Luxembourg  7.4040  2022                       0.70000
1056       Sweden  7.3950  2023                       0.75400

In [29]:
print(bottom_10_unique[['Country', 'Score', 'Year', 'Freedom to make life choices']])

                       Country   Score  Year  Freedom to make life choices
932                     Rwanda  3.5150  2016                      0.543200
215   Central African Republic  3.6780  2015                      0.488790
186                    Burundi  3.7753  2020                      0.275399
1084                  Tanzania  3.7810  2015                      0.328780
2                  Afghanistan  3.7940  2017                      0.106180
1015               South Sudan  3.8320  2016                      0.196620
27                      Angola  4.0330  2015                      0.103840
1107                      Togo  4.1872  2020                      0.303539
654                     Malawi  4.2920  2015                      0.430540
145                   Botswana  4.3320  2015                      0.494950